<div class="container mt-5">
  <h1 class="text-center text-primary mb-4">Üdvözöljük a Vállalkozók Terén!</h1>


  <div *ngIf="!isLoggedIn" class="alert alert-info text-center shadow-sm">
    <p>Kérjük, jelentkezzen be, hogy elérhesse a teljes funkciókészletet!</p>
    <p>
      A portálunk lehetőséget nyújt arra, hogy könnyedén hirdethessen, kapcsolatba lépjen más
      felhasználókkal, és átlátható módon kezelhesse ügyleteit.
    </p>
    <p>
      Csatlakozzon hozzánk, hogy felfedezhesse a hirdetések világát, és támogassa a kisvállalkozók
      munkáját!
    </p>
    <p>
      Ha még nincs fiókja, <a routerLink="/register" class="text-decoration-none">regisztráljon</a>
      most, és kezdjen el hirdetni vagy böngészni!
    </p>
    <button routerLink="/login" class="btn btn-outline-primary">
      <i class="bi bi-box-arrow-in-right"></i> Bejelentkezés
    </button>
  </div>


  <div *ngIf="isLoggedIn">
    <div class="welcome-section text-center mb-5">
      <h2 class="text-primary">Szia, {{ username }}!</h2>
      <p>Örülünk, hogy újra itt vagy! Fedezd fel, milyen lehetőségek várnak rád ma:</p>
    </div>

    <div class="row g-4">
    
      
         <div *ngIf="userRole === 'CUSTOMER'" class="col-md-6 col-lg-4">
          <div class="card h-100 shadow border-0 text-center bg-light-blue">
            <div class="card-body">
              <h3 class="card-title text-dark-blue">
                <i class="bi bi-search"></i> Hirdetések Böngészése
              </h3>
              <p>Böngészd a különböző szolgáltatásokat, és találj rá a számodra legmegfelelőbbre.</p>
              <button routerLink="/provision" class="btn btn-outline-primary">Megtekintés</button>
            </div>
          </div>
        </div>

    
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow border-0 text-center bg-light-blue">
          <div class="card-body">
            <h3 class="card-title text-dark-blue">
              <i class="bi bi-envelope"></i> Üzenetek
            </h3>
            <p>Küldj és fogadj üzeneteket közvetlenül a portálon keresztül.</p>
            <button routerLink="/messages" class="btn btn-outline-primary">Üzenetek megtekintése</button>
          </div>
        </div>
      </div>


       <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow border-0 text-center bg-light-blue">
          <div class="card-body">
            <h3 class="card-title text-dark-blue">
              <i class="bi bi-envelope"></i> Profilom szerkesztése
            </h3>
            <p>Küldj és fogadj üzeneteket közvetlenül a portálon keresztül.</p>
            <button routerLink="/profile" class="btn btn-outline-primary">Profilom megtekintése</button>
          </div>
        </div>
      </div>

  <div *ngIf="userRole === 'BUSINESS'" class="col-md-6 col-lg-4">
    <div class="card h-100 shadow border-0 text-center bg-light-blue">
      <div class="card-body">
        <h3 class="card-title text-dark-blue">
          <i class="bi bi-plus-circle"></i> Hirdetés Feladása
        </h3>
        <p>Hozz létre új hirdetést, hogy szolgáltatásaidat népszerűsíthesd.</p>
        <button routerLink="/profile" class="btn btn-outline-primary">Hirdetés hozzáadása</button>
      </div>
    </div>
  </div>
  
    </div>
</div>


<div  class="row mt-5">
  <div class="col-md-6">
    <div class="card shadow-sm border-primary">
      <div class="card-body text-center">
        <h3 class="card-title text-primary">
          <i class="bi bi-bar-chart"></i> Hirdetések száma
        </h3>
        <p class="text-primary">Összes aktív hirdetés: {{ statistics.totalProvisions }}</p>
        <p>
          A portálunkon elérhető hirdetések az aktív vállalkozói közösségünket mutatják. Böngésszen
          a széles kínálatban, és találja meg az igényeinek leginkább megfelelő szolgáltatásokat!
        </p>
      </div>
    </div>
  </div>
  <div  class="col-md-6">
    <div class="card shadow-sm border-primary">
      <div class="card-body text-center">
        <h3 class="card-title text-primary">
          <i class="bi bi-calendar-event"></i> Foglalások száma
        </h3>
        <p class="text-primary">Foglalások ezen a héten: {{ statistics.totalBookings }}</p>
        <p>
          Az ezen a héten létrejött foglalások az aktív felhasználóink közösségének dinamizmusát tükrözik.
          Csatlakozzon, és élvezze a könnyű, gyors foglalás élményét!
        </p>
      </div>
    </div>
  </div>
</div>